BASE_URL=your_base_url
FRONTEND_URL=your_frontend_url
PORT=your_port
MONGODB_URI=mongodb+srv://<username>:<password>@taskmanagement.bnsiudj.mongodb.net/task_management?retryWrites=true&w=majority
MONGODB_PASSWORD=<password>
JWT_SECRET=your_secret_key
JWT_EXPIRES_IN=your_token_expiration_time
# Example: 7d, 30d, 1h, etc.
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
GMAIL_USER=your_gmail_user
GMAIL_PASS=your_gmail_pass
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
FB_APP_ID=your_facebook_client_id
FB_APP_SECRET=your_facebook_client_secret
EMAIL_ADMIN=your_admin_email
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key
